{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<form method="post" action="{% url 'share:add_dot' %}">
    {% csrf_token %}
    <div class="add_title_text add_title_margin">
        {{ form.media }}
        {{ form.question.label_tag }}
        {{ form.question }}
        前端{{ form.font }}&nbsp
        后端{{ form.backend }}&nbsp
        服务器{{ form.server }}&nbsp
        开发{{ form.dev }}&nbsp
        部署{{ form.product }}&nbsp


        <input type="submit" value="提交">
    </div>
    {{ form.answer }}
</form>
<style>
    .add_title_text {
        text-align: center;
    }

    .add_title_margin {
        margin: 30px 0;
    }
</style>
</body>
</html>