{% extends 'share/base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'code.css' %}">
    <title>{{ question }}-哦啦网</title>
    <meta name="keywords" content={{ question }}>
    <meta name="description" content={{ question }}>
{% endblock head %}

{% block content %}
    <div class="dot_box">
        <div class="dot_shape_title">{{ question }}</div>
        <div>
            {{ answer |safe }}
        </div>
    </div>
    <style>
        .dot_box{
            background-color: white;
            padding: 50px 30px 13px ;
        }
        .dot_shape_title {
            font-size: 30px;
        }
    </style>
{% endblock content %}

