{% extends 'share/base.html' %}
{% block content %}
    <div>
        {% if form.errors %}
            <p>请输入正确的用户名和密码</p>
        {% endif %}
        <form class="form_box" method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            <div class="margin_line">
                用户名：{{ form.username }}
            </div>
            <div class="margin_line">
                密&nbsp&nbsp&nbsp&nbsp码：{{ form.password }}
            </div>
            <div class="margin_line">
                <button name="submit">登&nbsp&nbsp录</button>
            </div>
            <input type="hidden" name="next" value="{% url 'share:index' %}">
        </form>
    </div>
    <style>
        .form_box {
            width: auto;
            margin: 10% 30%;
        }

        .margin_line {
            margin: 40px 0 0 0;
            text-align: center;
        }

        button {
            border: 1px solid #c8cccf;
            background-color: #cc1111;
            border-radius: 4px;
            height: 44px;
            width: 100px;
            color: white;
            font-size: larger;
        }
    </style>
    <script>
        var loginInput = document.getElementById('id_username');

        function setStyle(arg1) {
            var element = document.getElementById(arg1);
            element.style.border = '1px solid #c8cccf';
            element.style.color = '#6a6f77';
            element.style.height = '2.7em';
            element.style.borderRadius = '4px';
        }

        setStyle('id_username');
        setStyle('id_password');
    </script>
{% endblock %}