{% extends 'share/base.html' %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try agai</p>
{% endif %}
<form method="post" action="{% url 'users:login' %}">
{% csrf_token %}
    {{ form.as_p }}
{#    {{ form.username.label_tag }}#}
{#    {{ form.username | label_with_classes:'c1' }}#}
{#    {{ form.password.label_tag }}#}
{#    {{ form.password }}#}
{#{{ form.as_p }}#}
<button name="submit">log in</button>
<input type="hidden" name="next" value="{% url 'share:index' %}">
</form>
<script>
    var loginInput=document.getElementById('id_username');


    function setStyle(arg1) {
        var element = document.getElementById(arg1);
        element.style.border='1px solid #c8cccf';
        element.style.color='#6a6f77';
        element.style.height='2.7em';
        element.style.borderRadius='4px';
    }
    setStyle('id_username');
    setStyle('id_password');
</script>
{% endblock %}